{% extends 'scans/base.html' %}
{% block body %}
    <table class="table">
        <tr>
            <th>Issue code</th>
            <th>Title</th>
            <th>File</th>
        </tr>

        {% for year, issues in issues_year.items %}
            <tr>
                <th colspan="3">{{ year|default:"Unknown" }}</th>
            </tr>
            {% for issue in issues %}
                <tr>
                    {% if issue.issuecode %}
                        <td><a href="{{ issue.inducks_url }}">{{ issue.issuecode }}</a></td>
                        <td>{{ issue.title|default:"" }}</td>
                    {% else %}
                        <td colspan="2">{{ issue }}</td>
                    {% endif %}
                    <td><a href="{% url 'scans:pdf' %}?file={{ issue.file }}">{{ issue.file }}</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}